<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) [%X{traceId}] %green(%-40.40logger{40}) : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springdoc" level="WARN"/>
    <logger name="com.baomidou" level="WARN"/>
    <logger name="io.lettuce" level="WARN"/>
    <logger name="org.apache.ibatis" level="WARN"/>
</configuration>
